/Mangaroll.opensdf
/Mangaroll.sdf
/Mangaroll.v11.suo
/Mangaroll.v12.suo
/Mangaroll.vcxproj.user
build
*.so
*.o
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Projects/Android/libs/armeabi-v7a/gdb.setup
/Projects/Android/libs/armeabi-v7a/gdbserver
/assets/oculussig_0915f9e51dc11d02
